@import url('https://fonts.googleapis.com/css2?family=Candal&family=Lora:ital,wght@0,400..700;1,400..700&family=Rubik:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Lora', serif;
}
html {
	scroll-behavior: smooth;
}

@layer components {
	.navBtn {
		@apply hidden h-6 w-6 md:inline-flex
cursor-pointer hover:scale-125
transition-all duration-150 ease-out;
	}
	.navBtnClose {
		@apply lg:hidden h-6 w-6 hover:scale-125
transition-all duration-150 ease-out;
	}
}
