@import url('https://fonts.googleapis.com/css2?family=Candal&family=Lora:ital,wght@0,400..700;1,400..700&family=Rubik:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Equinox', sans-serif;
	background-color: rgba(242, 242, 242, 0.863);
}

html {
	scroll-behavior: smooth;
}

.cl-formButtonPrimary {
	@apply bg-gray-400 text-white;
}

.cl-formButtonPrimary:hover {
	@apply bg-gray-500;
}

.cl-footerAboutLink {
	@apply text-gray-400;
}

.cl-footerAboutLink:hover {
	@apply text-gray-500;
}
.cl-card {
	@apply w-[600px] h-[440px] bg-white shadow-md;
}
.cl-signUp-start {
	@apply w-[600px] h-[660px] bg-white shadow-md;
}

.cl-signIn-start {
	@apply w-[400px] h-[430px] bg-white shadow-md;
}

.cl-pageScrollBox {
	@apply overflow-y-scroll scrollbar-hide;
}
.navBtn {
	@apply hidden h-10 w-8 md:inline-flex cursor-pointer hover:scale-125 transition-all duration-150 ease-out;
}

.navBtnClose {
	@apply lg:hidden h-8 w-8;
}

.btn {
	@apply h-6 hover:scale-125 cursor-pointer transition-all duration-150 ease-out;
}
.btn-follow {
	@apply w-20 text-xs font-semibold text-white cursor-pointer mx-2 my-2 h-6 text-center border-none bg-gradient-to-r  transition-all duration-200 rounded-md shadow-md uppercase;
	background-size: 300% 100%;
	background-image: linear-gradient(
		to right,
		#cdcdcd,
		#485563,
		#2b5876,
		#4e4376
	);
}
.btn-follow:hover {
	background-position: 100% 0;
	transition: all 0.4s ease-in-out;
}
.btn-follow:focus {
	outline: none;
}
.btn-unfollow {
	@apply w-20 text-xs font-semibold text-white cursor-pointer mx-2 my-2 h-6 text-center border-none bg-gradient-to-r  transition-all duration-200 rounded-md shadow-md uppercase;
	background-size: 300% 100%;
	background-image: linear-gradient(
		to right,
		#4e4376,
		#2b5876,
		#485563,
		#cdcdcd
	);
}
.btn-unfollow:hover {
	background-position: 100% 0;
	transition: all 0.4s ease-in-out;
}
.btn-unfollow:focus {
	outline: none;
}
.btn-follow:focus {
	outline: none;
}
.btn-uploads {
	@apply w-44 text-xs font-semibold text-white cursor-pointer mx-2 my-2 h-6 text-center 
	border-none bg-gradient-to-r transition-all duration-200 rounded-md shadow-md uppercase;
	background-size: 300% 100%;
	background-image: linear-gradient(
		to right,
		#cdcdcd,
		#485563,
		#2b5876,
		#4e4376
	);
}

.btn-uploads:hover {
	@apply hover:disabled:bg-gray-200;
	background-position: 100% 0;
	transition: all 0.4s ease-in-out;
}

.btn-uploads:focus {
	outline: none;
}

.btn-uplpoadsDisabled {
	@apply w-44 text-xs font-semibold text-white cursor-not-allowed mx-2 my-2 h-6 text-center 
	border-none bg-gradient-to-r transition-all duration-200 rounded-md shadow-md uppercase;
	background-size: 300% 100%;
	background-image: linear-gradient(to right, #aca9a9, #ffffff);
}

.btn-uploadsDisabled:hover {
	@apply hover:disabled:bg-gray-200;
	background-position: 100% 0;
	transition: all 0.4s ease-in-out;
}

.btn-uploadsDisabled:focus {
	outline: none;
}

.btn-cancel {
	@apply w-44 text-xs font-semibold text-white cursor-pointer mx-2 my-2 h-6 text-center 
	border-none bg-gradient-to-r transition-all duration-200 rounded-md shadow-md uppercase;
	background-size: 300% 100%;
	background-image: linear-gradient(
		to right,
		#4e4376,
		#2b5876,
		#485563,
		#cdcdcd
	);
}
.btn-cancel:hover {
	background-position: 100% 0;
	transition: all 0.4s ease-in-out;
}
.btn-cancel:focus {
	outline: none;
}

.btn-hover {
	@apply w-20 text-xs font-semibold text-white cursor-pointer mx-2 my-2 h-6 text-center border-none bg-gradient-to-r  transition-all duration-200 rounded-md shadow-md uppercase;
	background-size: 300% 100%;
	background-image: linear-gradient(
		to right,
		#cdcdcd,
		#485563,
		#2b5876,
		#4e4376
	);
}
.btn-filter {
	@apply w-20 text-xs font-semibold text-white cursor-pointer mx-2 my-2 h-6 text-center border-none bg-gradient-to-r  transition-all duration-200 rounded-md shadow-md uppercase;
	background-size: 300% 100%;
	background-image: linear-gradient(
		to left,
		#4e4376,
		#2b5876,
		#485563,
		#cdcdcd
	);
}

.btn-filter:hover {
	background-position: 100% 0;
	transition: all 0.4s ease-in-out;
}

.btn-filter:focus {
	outline: none;
}

.active {
	@apply bg-white text-gray-800;
}
.btn-disabled {
	@apply w-20 text-xs font-semibold text-white cursor-not-allowed mx-2 my-2 h-6 text-center border-none transition-all duration-200 rounded-md shadow-md uppercase;
	background-size: 300% 100%;
	background-image: linear-gradient(to left, #aca9a9, #ffffff);
}

.btn-disabled:hover {
	background-position: 100% 0;
	transition: all 0.4s ease-in-out;
}

.btn-disabled:focus {
	outline: none;
}

.active {
	@apply bg-white text-gray-800;
}

.btn-hover:hover {
	background-position: 100% 0;
	transition: all 0.4s ease-in-out;
}

.btn-hover:focus {
	outline: none;
}

.btn-custom {
	@apply inline-flex justify-center w-full rounded-md border border-transparent shadow-sm px-4 py-2 bg-gradient-to-r from-gray-400 to-gray-900 text-base font-medium text-white hover:bg-gradient-to-r hover:from-gray-500 hover:to-gray-900 focus:outline-none focus:ring-offset-2 focus:ring-2 focus:ring-gray-400 sm:text-sm disabled:bg-gray-200 disabled:cursor-not-allowed transition-all duration-200  uppercase;
	background-size: 300% 100%;
}

.btn-custom:hover {
	background-position: 100% 0;
	transition: all 0.4s ease-in-out;
}

.btn-custom:focus {
	outline: none;
}

.suggestions-container {
	@apply mt-4 ml-10;
}

.suggestions-list {
	@apply max-h-[250px] overflow-y-auto scrollbar-hide;
}
.notifications-list {
	@apply max-h-[550px] overflow-y-auto scrollbar-hide;
}

.avatar {
	background: radial-gradient(
		circle,
		rgba(209, 213, 218, 1) 0%,
		rgba(145, 148, 152, 1) 70%
	);
}

/* .content {
	position: relative;
	width: 100%;
	margin: auto;
	overflow: hidden;
}

.content .content-overlay {
	background: rgba(0, 0, 0, 0.7);
	position: absolute;
	height: 99%;
	width: 100%;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	opacity: 0;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-moz-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
	opacity: 1;
}

.content-image {
	width: 100%;
}

.content-details {
	position: absolute;
	text-align: center;
	padding-left: 1em;
	padding-right: 1em;
	width: 100%;
	top: 50%;
	left: 50%;
	opacity: 0;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
	top: 50%;
	left: 50%;
	opacity: 1;
}

.fadeIn-bottom {
	top: 80%;
} */

.btn-hover-color-11 {
	background-image: linear-gradient(
		to right,
		#eb3941,
		#f15e64,
		#fac0c2,
		#d8c3c5
	);
	box-shadow: 0 5px 15px rgba(242, 97, 103, 0.4);
}

.btn-hover-color-11:hover {
	background-image: linear-gradient(
		to left,
		#eb3941,
		#f15e64,
		#fac0c2,
		#d8c3c5
	);
}

.btn-hover-color-8 {
	background-image: linear-gradient(
		to right,
		#29323c,
		#a2a2a2,
		#d1d1d1,
		#fdfcff
	);
	box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}

.btn-hover-color-8:hover {
	background-image: linear-gradient(
		to left,
		#29323c,
		#a2a2a2,
		#d1d1d1,
		#fdfcff
	);
}
